---
layout: base
# Requires: page.title, page.tags
---
{%- assign time_estimated = content | number_of_words | divided_by: 300 | plus: 1 | append: " minutes" -%}
{%- if page contains "time" -%}
  {%- assign time_estimated = page.time -%}
{%- endif -%}
  <header>
    <section class="container-fluid pt-5">
      <div class="float-start col-md-8 pe-2">
        <h1>{{ page.title | escape }}</h1>
        <p>By 
          {%- for author in page.authors %}
            {{ author }}
          {%- endfor -%}
        </p>
        <p>{{ time_estimated }}</p>
      </div>
      <aside class="margin-note mb-5">
        <p>
{%- for tag in page.tags %}
          <a href="/posts-by-tag#{{ tag | slugify }}">#{{ tag }}</a>
{% endfor -%}
        </p>
        <p class="mb-0">
          {{ page.date | date: "%Y-%m-%d" }}
{%- for update in page.updates -%}
          <br>{{ update.date | date: "%Y-%m-%d" }}: {{ update.changes | escape }}
{%- endfor -%}
          <br><a target="_blank" href="https://github.com/fulldecent/blog.phor.net/commits/main/{{- page.path | escape  -}}">Edit history</a>
          <br><a target="_blank" href="https://github.com/fulldecent/blog.phor.net/edit/main/{{- page.path | escape  -}}">Edit this page</a>
        </p>
      </aside>
      <div class="clearfix"></div>
    </section>
  </header>
  <article class="container-fluid">
    <div class="clearfix"></div><!-- This helps if the first item in the article is a margin note -->
{% if page.affiliate-link %}
    <p>
      <em>This page includes an affiliate link. And hopefully I'll get paid if you click it. This does not increase the price you pay, you would get the same price with or without my link.</em>
    </p>
{% endif %}
    
{{ content }}
    <p>&#9639;</p>  
    <h2>Comments</h2>

    {%- if page.comments -%}
    {%- for comment in page.comments %}
    <blockquote>
      <p>{{ comment.text | newline_to_br }}</p>
      <cite class="d-block blockquote-footer"><a href="{{ comment.link | escape }}">{{ comment.name | escape }}</a></cite>
    </blockquote>
    {%- endfor -%}
    {%- else -%}
    <p>There are no comments yet.</p>
    {%- endif -%}

    <p>Please discuss this topic anywhere and <a href="https://phor.net/#authentic-accounts">let me know</a> any great comments or media coverage I should link here.</p>
  </article>