---
layout: base
---
{%- assign time_estimated = content | number_of_words | divided_by: 300 | plus: 1 | append: " minutes" -%}
  <header>
    <section class="container-fluid pt-5">
      <div class="float-start col-md-8 pe-2">
        <h1>{{ page.title | escape }}</h1>
        <p>By {{ page.author }}</p>  <!-- HAVE A SITE DEFAULT  -->      
        <p>{{ page.time | default: time_estimated }}</p>
      </div>
      <aside class="margin-note mb-5">
        <p>
{%- for tag in page.tags -%}
          <a href="/posts-by-tag#{{ tag | slugify }}">#{{ tag }}</a>
{%- endfor -%}
        </p>
        <p class="mb-0">
          {{ page.date | date: "%Y-%m-%d" }}: Published
{%- for update in page.updates -%}
          <br>{{ update.date | date: "%Y-%m-%d" }}: {{ update.changes | escape }}
{%- endfor -%}
          <br><a target="_blank" href="https://github.com/fulldecent/blog.phor.net/commits/main/{{- page.path | escape  -}}">Edit history</a>
          <br><a target="_blank" href="https://github.com/fulldecent/blog.phor.net/edit/main/{{- page.path | escape  -}}">Edit this page</a>
        </p>
      </aside>
      <div class="clearfix"></div>
    </section>
  </header>
  <article class="container-fluid">
    <div class="clearfix"></div><!-- This helps if the first item in the article is a margin note -->
{{ content }}
    <p>&#9639;</p>  
    <h2>Comments</h2>
    <p>Discuss and share this topic anywhere. May we recommend:</p>
    <ul>
{%- for comment in page.comments -%}
      <li>
        <a target="_blank" href="{{ comment.link }}">
          <figure>
          <blockquote>
            <p>{{ comment.text | newline_to_br }}</p>
          </blockquote>
          <figcaption class="blockquote-footer">
              {{ comment.name }} <cite title="Source Title">{{ comment.date }}</cite>
          </figcaption>
        </figure> 
      </a>
    </li>
{%- endfor -%}
{%- unless page.comments -%}
      <li>There is no official Twitter thread yet. Hit me up and I will make one.</li>
{%- endunless -%}
      <li>Please let me know any other good media coverage I should link here.</li>
    </ul>
  </article>